@font-face {
    font-family: 'Kievit';
    src: url('Kievit-Bold.eot');
    src: url('Kievit-Bold.eot?#iefix') format('embedded-opentype'),
        url('Kievit-Bold.woff2') format('woff2'),
        url('Kievit-Bold.woff') format('woff'),
        url('Kievit-Bold.ttf') format('truetype'),
        url('Kievit-Bold.svg#Kievit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

